* {
  box-sizing: border-box;
}


CSS



* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(37,64,143);
background: linear-gradient(90deg, 
  rgba(37,64,143,1) 10%, 
  rgba(37,60,135,1) 16%, 
  rgba(31,2,29,1) 100%);
}

.container{
  position: relative;
}
.productivity {
  color: white;
  text-align: center;
  font-style: normal;
  letter-spacing: 2px;
 
}

.graph{
  position: absolute;
  bottom:-35%;
  }

.time{ 
  color: white;
  text-align: center;
  font-style: normal;
  letter-spacing: 2px;
  position: absolute;
  bottom: 25%;
  left:37%;
}

.chart{ position: absolute;
  top:43%;
  }

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.box {
  width: 50%;
  height: 75%;
  background-color: gray;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.box-content {
  font-size: 30px;
}

.box-1 {
  background-color: #333;
}

.box-2 {
  background-color: #777;
}



.monique
{ font-family: Futura; 
  font-size: 29px; 
  font-style: normal;  
  line-height: 37px; 
color: white;
text-align: center;
padding-top: 25%;
letter-spacing: 10px;
}
